  <div class="sign-in-form">
    <form (ngSubmit)="onSignIn(f)" #f="ngForm">
      <div class="form-group">
        <label for="userId">Numéro d'immatriculation</label>
        <input  type="email" class="form-control" id="userId" name="userId" placeholder="Saisir le numéro de plaque" 
        ngModel required>
      </div>
      <div class="form-group">
        <label for="userPassword">Mot de passe</label>
        <input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="Mot de passe" 
        ngModel required>
      </div>
      <div class="form-group-btn">
        <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Se connecter</button>
      </div>
    </form>
  </div>
