  <div class="sign-in-form">
    <form (ngSubmit)="onSignIn(f)" #f="ngForm">
      <div class="form-group">
        <label for="plateNumber">Numéro d'immatriculation</label>
        <input  type="email" [ngClass]="{'form-control' : true, 'pwd-error' : isWrongPassword()}" id="plateNumber" name="plateNumber" placeholder="Saisir le numéro de plaque" 
        ngModel required>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" [ngClass]="{'form-control' : true, 'pwd-error' : isWrongPassword()}" id="password" name="password" placeholder="Mot de passe" 
        ngModel required>
        <label *ngIf="isWrongPassword()" class="pwd-error-message">Numéro de plaque ou mot de passe incorrect.</label>
      </div>
      <div class="form-group-btn">
        <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Se connecter</button>
      </div>
    </form>
  </div>
