.welcome-div{
    height: 100vh;
    width: 100%;
}

#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(3) rotate(60deg);
    animation: plate-anime 1.2s cubic-bezier(.51,.19,.87,.09) forwards;
}



@keyframes plate-anime{
    to{
        transform: translateX(-50%) translateY(-50%) scale(1) rotate(0deg);
    }
}
